.head-first{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 50px 0px 100px;
    height: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    .head-first-left{
        font-size: 12px;
    }
    .head-first-right{
        font-size: 12px;
    }
}